body {
  margin:0px;
  background-color: rgba(0, 0, 0, 0);
}

#overlayImage {
  z-index: -2;
}

.left-col {
  left: 0px;
  width: 300px;
}

.right-col {
  right: 0px;
  width: 300px;
}

.text {
  position: absolute;
  text-align: center;
  font-family: 'Verdana';
  font-weight: bold;
  color:#DDD;
}

.losers {
  font-style: italic;
  font-size: 22px;
}

.playerIcon {
  width: 21px;
  height: 21px;
  margin: auto;
  display: block;
}

.charBlock {
  position: absolute;
  display: block;
  height: 23px;
  width: 23px;
  background-color: #0c291b;
  opacity: 0;
}

.infoSmall {
  font-style: italic;
  font-size: 16px;
}

.score {
  width:80px;
  font-size:50px;
}

.name {
  font-size: 26px;
}

.twitter {
  font-size: 22px;
}
