.losers {
  top:535px;
}

.name {
  top:570px;
}

.twitter {
  top:602px;
}

.infoSmall {
  top:660px;
}

.score {
  top:500px;
}

.charBlock {
  top:17px;
}

#pScore1 {
  left:220px;
}

#pScore2 {
  right:220px;
}

#pChar1 {
  left: 146px;
}

#pChar2 {
  left: 1639px;
}
