.losers {
  top:545px;
}

#teamScore1 {
  left:220px;
}

#teamScore2 {
  right:220px;
}

.score {
  top:500px;
}

.teamChar1 {
  left:140px;
}

.teamChar2 {
  left:1638px;
}

.charBlock {
  top:22px;
}

.nameRow1 {
  top:585px;
}

.nameRow2 {
  top:665px;
}

.twitterRow1 {
  top:620px;
}

.twitterRow2 {
  top:700px;
}

.infoSmall {
  top: 750px;
}
