#teamScore1 {
  left:220px;
}

#teamScore2 {
  right:220px;
}

.score {
  top:500px;
}

.losers {
  top:535px;
}

.teamChar1 {
  left:146px;
}

.teamChar2 {
  left:1639px;
}

.charBlock {
  top:17px;
}

.infoSmall {
  top:728px;
}

.nameRow1 {
  top:570px;
}

.nameRow2 {
  top:645px;
}

.twitterRow1 {
  top:602px;
}

.twitterRow2 {
  top:677px;
}
