#pScore1 {
  left:220px;
}

#pScore2 {
  right:220px;
}

#pChar1 {
  left: 140px;
}

#pChar2 {
  left: 1638px;
}

.losers {
  top:545px;
}

.charBlock {
  top:22px;
}

.infoSmall {
  top:680px;
}

.score {
  top:500px;
}

.name {
  top:585px;
}

.twitter {
  top:620px;
}
